body {
    background-color: #eee;
}

.songContainer {
    outline: 1px solid #aaa;
    width: 350px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.songContainer img {
    float: left;
    margin: 10px;
}

.songContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.songContainer button {
    float: right;
    margin: 10px;
}

#addSong label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
}

#addSong label, #addSong input {
    display: block;
    margin-bottom: 10px;
}

#addSong label[for="title"], #addSong label[for="releaseDate"] {
    clear: both;
}

#addSong button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

#addSong div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.resultContainer {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    margin: 5px;
}