body {
    background-color: #e0ebeb;
    font-family: 'Josefin Sans', 'sans-serif';
    color: #1f2e2e;
}

h1 {
    text-align: center;
}

#songs{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.songContainer {
    outline: 1px solid #bd400f;
    border-radius: 2px;
    width: 350px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.songContainer img {
    float: left;
    margin: 10px;
}

.songContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.songContainer button {
    float: right;
    margin: 10px;
}

label {
    display: block;
}

#searchContainer {
    margin-right: 50px;
}


input#keyword {
    height: 30px;
    border: 1px solid #bd400f;
    border-radius: 2px;
    font-size: 18px;
}

#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.resultContainer {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #bd400f;
    border-radius: 2px;
    margin: 5px;
    text-align:center;
}

#playlistContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: #f9cbb8;
}

.btn {
  display: inline-block;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  padding: 10px 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cta {
  background-color: #F07444;
  color: white;
  
  transition: .2s ease;
}

.cta:hover {
    background-color: #bd400f;
    border: 1px solid #bd400f;
    
    transition: .2s ease;
}


.ghost {
  background-color: transparent;
  color: #F07444;
  border: 1px solid #F07444;
  
  transition: .2s ease;
  
 }
  
.ghost:hover {
    background-color: #F07444;
    color: white;

    transition: .2s ease;
}

